site_name: Laser Theory Notes
site_url: https://wyrdhy.github.io/Laser_Theory/

theme:
  name: material
  features:
    - navigation.sections
    - navigation.expand
    - toc.integrate
    - navigation.top
    - content.code.copy

nav:
  - Home: index.md
  - Part A · Setup&Test: setup.md
  - Part B · Resonator Coupler:
      - B1 Macroscopic Picture: Ring_Macro.md
markdown_extensions:
  - admonition
  - footnotes
  - tables
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.details
  - pymdownx.superfences

extra_javascript:
  - assets/mathjax.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js