name: deploy

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-python@v5
      with:
        python-version: "3.x"
        cache: "pip"

    - run: pip install -r requirements.txt
    - run: mkdocs gh-deploy --force
